/cpre388/Lab3 - Stopwatch/.idea/misc.xml
/cpre388/Lab3 - Stopwatch/.idea/Lab3 - Stopwatch.iml
/cpre388/Lab3 - Stopwatch/.idea/modules.xml
/cpre388/Lab3 - Stopwatch/.idea/runConfigurations.xml
/cpre388/Lab3 - Stopwatch/.idea/vcs.xml
/cpre388/Lab3 - Stopwatch/.idea/caches/deviceStreaming.xml
/cpre388/Lab6 - MapRuler/.idea/runConfigurations.xml
/cpre388/Lab6 - MapRuler/app/.idea/gradle.xml
/cpre388/Lab6 - MapRuler/app/.idea/misc.xml
/cpre388/Lab6 - MapRuler/app/.idea/vcs.xml
/cpre388/Lab6 - MapRuler/app/.idea/workspace.xml
